@model IEnumerable<Article>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Juice Press</h1>
    <p>Here to bring you the daily squeeze</p>
</div>

@if(Model?.Count() > 0)
{

}