@{
    ViewData["Title"] = "Terms of Use";
}
<h1>@ViewData["Title"]</h1>

<p>Terms of use: don't be a dick. </p>
<p>By using this site, you agree that any legal grievances will be resolved in Gallatin County, Montana.</p>
