@model News_Website.Models.AnswerViewModel
@{ 
    Layout = null;
}
<div class="row">
    <form asp-action="_EditAnswer" class="col">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="QuizId" />
        <input type="hidden" asp-for="QuestionId" />
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Answer" class="control-label"></label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Result weights for this answer (0-100)</h5>
                <p class="text-small font-italic">Result weights determine how much each answer for this question will push towards each result. Weights can range from 0-100, with a higher value meaning that the answer is more weighted toward that result.</p>
            </div>
        </div>
        @if (Model.Weights?.Count() > 0)
        {
            <div class="row my-3 font-weight-bold text-center">
                <div class="col">
                    Result
                </div>
                <div class="col">
                    Weight
                </div>
            </div>
            foreach (var w in Model.Weights)
            {
                <div class="row weight-row border-bottom my-2 py-2" data-id="@w.ResultId">
                    <div class="col">
                        <p>@w.ResultTitle</p>
                    </div>
                    <div class="col-auto answer-weight-editor-column form-inline">
                        @*@Html.LabelFor(x => w.Weight, htmlAttributes: new { @class = "mr-2" })*@
                        @Html.TextBoxFor(x => w.Weight, htmlAttributes: new { @class = "ml-2 answer-weight-editor form-control" })
                        @Html.ValidationMessageFor(x => w.Weight)
                    </div>
                    @*<div class="col-auto">

                    </div>*@
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <p>Add quiz results to in the <b>Results</b> tab to configure weighted answers.</p>
                </div>
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    </div>

