@model News_Website.Models.Quiz
<div class="row">
    <div class="col"><h3>Questions</h3></div>
    <div class="col-auto"><button type="button" class='btn btn-primary edit-question'>Add New <i class="fas fa-plus"></i></button></div>
</div>
@if (Model?.Questions?.Count() > 0)
{
<div class="row">
    @foreach (var item in Model.Questions)
    {
        <div class="col-12 col-lg-6">

            <div class="p-4 mt-4 mb-4 h-100 bg-info rounded">
                <div class="row">
                    <div class="col">
                        <h3>@(item.Order + 1).</h3>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-light edit-question mr-3" data-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-light delete-question" data-id="@item.Id" title="Delete"><i class="fas fa-times text-danger"></i></button>
                    </div>
                </div>
                <div class="col-12">
                    <h6>@item.Question</h6>
                </div>
            </div>

        </div>
    }
</div>
}
