@model News_Website.Models.Article

<h1 class="text-justify">@Html.DisplayFor(x => x.Title)</h1>
<div class="h6 text-dark">@Helpers.FormattedDaysAgo(Model.PublishedOn.Value)</div>
<div class="">
    @Html.Raw(Model.Content)
</div>
